<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>se/se_yan1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_yan2.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_tou1.png</key>
			<dict>
				<key>width</key>
				<integer>367</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>367</integer>
				<key>originalHeight</key>
				<integer>241</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_setou.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_tou2.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_shen1.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>446</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/se_shen2.png</key>
			<dict>
				<key>width</key>
				<integer>484</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>503</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se_shen2-2.png</key>
			<dict>
				<key>width</key>
				<integer>481</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>503</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>702</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se_shen2-3.png</key>
			<dict>
				<key>width</key>
				<integer>499</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>503</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>se/xx.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>se0.png</string>
			<key>realTextureFileName</key>
			<string>se0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>